* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #333;
  color: #fff;
  width: 640px;
  margin: 30px auto;
  line-height: 1.4em;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: 1em;
}

header h1, header h2, header h3 {
  width: 100%;
}

header h2, header h3 {
	height: 1.3em;
	text-align:right;
}


a {
  color: #ddd;
  text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: red;
}
img {
  outline: 0;
  border: 0;
}

.home {
	position: relative;
	min-height: 300px;
	margin-top: 2em;
	vertical-align: top;
}
.content {
	position: relative;
	min-height: 300px;
	vertical-align: top;
}
article {
	width: 100%;
	margin-bottom: 2em;
	line-height: 1.4em;
	display: inline-block;
	vertical-align: top;
}
.content h1 {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0.6em 0;
	border-bottom: 1px solid #666;
	z-index: 1;
}
section.home h1 {
	padding-bottom: 0.2em;
	margin: 0.6em 0;
	border-bottom: 1px solid #666;
}

article h2 {
	line-height: 1.8em;
}

article h3 {
	font-style: italic;
	font-size: 0.9em;
	color: #bbb;
}
article a {
	text-decoration: underline;
}
.category-title {
	border-bottom: 1px solid #666;
	padding-top: 0.4em;
	padding-bottom: 0.3em;
	}



/* DEFAULT PAGE */

.featured-project {
	width: 100%;
	height: 360px;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	position: relative;
}

.featured-project-description {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-size: 0.9em;
	line-height: 1.4em;
	margin: 0px;
	padding: 0px;
}
.featured-project-description a {
	background: #333;
	display: block;
	padding: 10px 20px;
	opacity: 0.40;
	-moz-opacity: 0.40;
	-khtml-opacity: 0.40;
	filter:alpha(opacity=40);
	color: #ddd;
}
.featured-project-description a:hover {
	background: #222;
	opacity: 0.9;
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	filter:alpha(opacity=90);
	color: #fff;
}


/* PREV-NEXT BLOCK */

ul.prevnext {
	list-style: none;
	position: absolute;
	width: 300px;
	height: 30px;
	top: -3em;
	right: 0px;
}

.prevnext li {
	vertical-align: middle;
	display: inline-block;
	width: 48%;
}
.prevnext li img {
	padding: 0px 1em;
}

.prevnext li img.inactive {
	opacity: 0.20;
	-moz-opacity: 0.20;
	-khtml-opacity: 0.20;
	filter:alpha(opacity=20);
}
.prev {
	border-right: 1px solid #666;
}
.prev img {
	float:left;
}
.next {
	text-align: right;
}
.next img {
	float:right;
}


/* GALLERY LIST */

li.project {
	word-spacing: normal;
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	list-style: none;
	width: 300px;
	margin-right: 26px;
	margin-bottom: 20px;
	position: relative;
}
li.project:nth-child(even) {
	margin-right: 0px;
}

li.project a {
	min-height: 100px;
	display: block;
	color: #bbb;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
li.project a:hover {
	color: #fff;
	background: #222;
}
li.project a h4 {
	color: #fff;
	font-weight:normal;
	padding-top: 10px;
	padding-left: 10px;
}
li.project a:hover h4 {
	color: red;
}
li.project img {
	display: inline-block;
	padding: 10px 0px 10px 10px;
	vertical-align: top;
}
li.project p {
	vertical-align: top;
	display:inline-block;
	padding: 5px 10px 10px 10px;
	width: 185px;
	line-height: 1.2em;
	margin:0px;
}
li.project p span.date {
	font-style: italic;
	font-size: 0.8em;
	color: #bbb;
	line-height: 1.8em;
}


/* GALLERY MOBILE/TABLET DISPLAY – see jquery.galleryview.css for styles relating to the GalleryView presentation */

#gallery {
	list-style: none;
	color: #aaa;
	line-height: 1.4em;
}
#gallery li {
	margin-bottom: 2em;
}
#gallery img {
	width: 100%;
}

.gv_galleryWrap {
	display:none;
}

#gallery h4 {
	font-weight: normal;
}
#gallery p {
	font-size: 0.9em;
}



/* LINKS PAGE */

ul.links {
	padding-left: 2em;
	margin: 0px;
	font-size: 1em;
	font-weight:bold;
	list-style: square;
	line-height: 1.8em;
}

ul.project-list {
	padding: 20px 0px;
	word-spacing: -4px;
	letter-spacing: -4px;
}


/* "PAGE" PAGE */

.page .sideImage {
	display: inline-block;
	max-width: 300px;
}
.page article ul {
	padding: 1em 2em;
	list-style: square;
	line-height: 1.8em;
}




/* FOOTER */

footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  font-size: 13px;
  color: #ddd;
  height: 2em;
}
footer a {
  color: red;
}
footer a:hover {
  color: #eee;
}


/* MENU */
nav {
	border-radius: 5px;
	display:inline-block;
	box-shadow: 0px 0px 20px #111;
	margin: 1em 0em;
	z-index: 200;
}

nav select {
	display: block;
}

nav ul { display: none; }

